/**
 * SASS Demo Settings
 */

$color-text: #333;
$color-emphasis: #660000;
$color-background: #FFF;

$size-base: 13px;
$height-base: 1.5;

$font-stack-body: Helvetica, Arial, sans-serif;
$font-stack-header: Georgia, serif;
$font-stack-code: Monaco, Consolas, fixed-width;

$grid-columns: 16;
$grid-gutter: 1%;

$width-tablet: 600px;
$width-desktop: 900px;
